<h1>Create a profile for your buddy</h1>

<h2>Enter all of the information about your pet:</h2>

  <form action="/pets" method="POST">
    <p>
      <label for="name">Name:</label>
      <input type="text id="name" name="name">
    </p>
    <p>
      <label for="species">Species:</label>
      <input type="text" id="species" name="species">
    </p>
  </form>

  # Will need to add other qualities, separated
  # into groups like health and daily care 
  # e.g. 
  # Breed 
  # Microchip Number
  # Microchip Registry
  # Vet name 
  # Vet phone 
  # Vaccinations
  # Flea treatment 
  # Heartworm treatment 
  # Allergies 
  # Food Brand 
  # Food Serving
  # Feedings per day 
  # Comments 
  # 
  # Should probably separate into partials and render on this page 

  <p><a href="/">Back to the main page</a></p>
  <p><a href="/pets/index">See all of your pets</a></p>