<h1> Create an account to get started!</h1>

<form action="/users" method="POST">
  <p> 
    <label for="username" id="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </p>
  <p>
    <label for="email" id="email">Email:</label>
    <input type="email" id="email" name="email required">
  </p>
    <label for="password" id="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </p>
  <p>
    <input type="submit">
  </p>
</form>