<h1>Log in</h1>

<form action="/login" method="POST">
  <label for="username" id="username">Username:</label>
  <input type="text" id="username" name="username">

  <label for="password">Password:</label>
  <input type="password" id="password" name="passwprd">

  <input type="submit">
</form>

<p>Or <a href="/users/create">Sign up</a> if you don't have an account</p>
<p><A href="/">Back to the main page.</a></p>