<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Pet Keeper</h2>

    <div class="content">
      <p>Store your pet's important information in one place.</p>
      <p>Keep them healthy, keep them safe.</p>
    </div>

    <div class="sidebar">

    </div>

  </div>
</div>
